<footer>
    <div class="f-info">
        <div class="f-info-socials">
          <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>  
        <a href="/instagram">    <i class="fa-brands fa-instagram"></i></a>
        <a href="/linkdin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
             <div>&copy;Wanderlust Private Limited</div>
             <div class="f-info-linkes">
                <a href="/priacy">Priacy</a>
                <a href="/help">Help</a>
                <a href="/constect us">Contect Us</a>
             </div>
    </div>
</footer>