<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-body-tertiary boder-bottom  sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">Home</a>
          <a class="nav-link" href="/listing/new">Add New listing</a>
      
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %>
            <a class="nav-link" href="/signup"> singup</a>
            <a href="/login" class="nav-link"> login </a>
          <% } %>
          <% if(currentUser) { %>
            <a href="/logout" class="nav-link"> logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</body>

</html>